@page "/"

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Country File Nature Finds - Spring 2021</h1>
  </div>
</div>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <h3>
      <a class="@TabStyle(ShowFinds)" href="#" @onclick="@ToggleFindsVisibility">Nature Finds</a>
    </h3>
  </li>
  <li class="nav-item">
    <h3><a class="@TabStyle(!ShowFinds)" href="#" @onclick="@ToggleFindsVisibility">Family Photos</a></h3>
  </li>
</ul>

@if (ShowFinds)
{
  <Finds />
}
else
{
  <FamilyPhotos />
}

@code
{
  bool ShowFinds { get; set; } = true;

  string TabStyle(bool isActive) => isActive ? "nav-link active" : "nav-link"; 
  void ToggleFindsVisibility() => ShowFinds = !ShowFinds;
  
}