@page "/"

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Country File Nature Finds - Spring 2021</h1>
  </div>
</div>

<div class="card-columns">
    @foreach (var find in _finds)
    {
        <FindCard Find="@find" />   
    }
</div>

@code
{
    [Inject] HttpClient _httpClient { get; set; }
    
    private List<Find> _finds = new();

    protected override async Task OnInitializedAsync()
    {
        var data = await _httpClient.GetStringAsync("data/spring2021.json");

        _finds = data.Deserialise<List<Find>>();
        
        Console.WriteLine(_finds[0].Name);
        
        await base.OnInitializedAsync();
    }
}
