<div class="card col-xs-12 col-sm-6 col-md-3">
    <img src="@Photo.FormattedLink()" width="100%"/>
    <div class="card-body">
        <p class="card-text"><small class="text-muted">Photo by @Photo.Photographer</small></p>
    </div>
</div>

@code
{
    [Parameter]
    public Photo Photo { get; set; }
}
