<div class="card">
    @foreach (var photoSection in _familyPhotoSections)
    {
        <div class="card">
            <div class="card-header">
                @photoSection.Name
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    @foreach(var photo in photoSection.Photos)
                    {
                        <FamilyPhoto Photo="@photo" />
                    }
                </div>
            </div>
        </div>
    }
</div>

@code {
    [Inject] HttpClient _httpClient { get; set; }

    List<FamilyPhotoSection> _familyPhotoSections = new();
    
    protected override async Task OnInitializedAsync()
    {
        var data = await _httpClient.GetStringAsync($"data/spring2021-showcase.json?cb={Guid.NewGuid()}");

        _familyPhotoSections = data.Deserialise<List<FamilyPhotoSection>>();

        await base.OnInitializedAsync();
    }
}