<div class="card w-25">
    <img src="@Photo.FormattedLink()"/>
    <div class="card-body">
        <p class="card-text"><small class="text-muted">Photo by @Photo.Photographer</small></p>
    </div>
</div>

@code
{
    [Parameter]
    public Photo Photo { get; set; }
}
