<div class="card">
    <div class="card-columns">
        @foreach (var find in _finds)
        {
            <FindCard Find="@find" />   
        }
    </div>
</div>

@code
{
    [Inject] HttpClient _httpClient { get; set; }
    
    private List<Find> _finds = new();

    protected override async Task OnInitializedAsync()
    {
        var data = await _httpClient.GetStringAsync($"data/spring2021.json?cb={Guid.NewGuid()}");

        _finds = data.Deserialise<List<Find>>();
        
        Console.WriteLine(_finds[0].Name);
        
        await base.OnInitializedAsync();
    }
}